@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

body {
  background-color: #e3e3e3;
  font-size: 18px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  margin: 0;
}

.main-header {
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  width: 500px;
}

.main-header h1 {
  font-weight: bold;
}

.contenedor-actividades {
  margin: 0 auto;
  margin-top: 20px;
  width: 500px;
  background-color: rgb(169, 218, 218);
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
}

.titulo-actividades {
  margin-top: 0;
  margin-bottom: 0;
}

.seccion-tema {
  padding-top: 1rem;
}

.subtitulo-tema {
  margin: 0;
  padding: 0;
}

.listado-unidades {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contenedor-actividad {
  margin: 0 auto;
  width: 700px;
}

.subtitulo-actividad {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 0;
}

.texto-receta {
  text-align: justify;
}

a {
  color: black;
}

a:hover {
  color: rgb(74, 103, 156);
}

@media only screen and (max-width: 800px) {
  body {
    font-size: 18px;
  }

  .main-header {
    margin: 0 auto;
    display: grid;
    grid-template-rows: auto auto;
    width: 90%;
  }
  
  .contenedor-actividades {
    width: 80%;
  }
  .contenedor-actividad {
    width: 80%;
  }
}