body {
  background-color: #e3e3e3;
}

.contenedor-actividad {
  margin: 0 auto;
  width: 700px;
}

.subtitulo-actividad {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0;
}

.texto-receta {
  text-align: justify;
}

@media (max-width: 800px) {
  .contenedor-actividad {
    width: 80%;
  }
}